# Entorno virtual
.venv/
env/
venv/

# Archivos de configuración locales
*.env
*.env.*

# Archivos de compilación / caché
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Archivos de logs
*.log

# Archivos generados por IDEs/editores
.vscode/
.idea/
.DS_Store

# Archivos de celery/redis si los generas
celerybeat-schedule
